p {
    padding: 10px;
    background-color: royalblue;

}

body {
    font-family: "Lato", sans-serif

}

.divider{
    margin: 10px;
    display:inline-block;
}

.db-bg{
    background-color: rgb(120, 40, 220); 
    border-radius: 25px;
}

.title{
    text-align: center;
}


.user-form, .loading{
    width: 50%;
    margin: auto;
}


.db{
    width: 50%;
    margin: auto;
}